{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="verify-v1" content="UVjZo0pDSGEyxFqEeDxIga3l+dY7Fnfd5LQ6dBd0yRM="/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="3600"/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="robots" content="index,follow"/>
    <meta name="publisher" content="WilliamsMendez.com"/>
    <meta name="copyright" content="Williams mendez, {% now "Y" %}"/>
    <meta name="author" content="Williams Mendez / WilliamsMendez.com"/>
    <meta name="distribution" content="global"/>
    <meta name="description"
          content="Venta de inmuebles en la Republica Dominicana.  Casas, Apartamentos, Solares, Locales Comerciales, Haciendas, Fincas."/>
    <meta name="keywords"
          content="Casas, Solares, Apartamentos, Locales Comerciales, Fincas, Haciendas, Villas, Villages, House, Apartments"/>

    <link rel="alternate" type="application/rss+xml" title="{% trans "Recent Listing Feed" %}" href="{% url 'rss-feed' %}" />

    <title>{% block title %}Nyumba{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
    {% block extra_css %}{% endblock %}

</head>

<body>

<div class="container">
    {% include 'includes/header.html' %}
    {% block content %}

    {% endblock %}
    {% include 'includes/footer.html' %}

</div>
<!-- /container -->

{% block js %}

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_setDomainName', 'realestate.pythonanywhere.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4v6-S6GNNt-mQLL8OCSqKmgixCF3Ar0 &callback=initMap" async defer></script>
    <script type="text/javascript">
        var url_mapa_propiedades = "{% url 'listings-map' %}";
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
{% endblock %}
{% block extra_js %} {% endblock %}
</body>
</html>